html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
}

.header.change-color {
  background-color: #ffffff8a;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav-menu li {
  margin-right: 2rem;
  font-size: 0.9em;
}
.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.is-animation {
  background-color: rgba(0, 0, 0, 0.7);
  height: 90px;
  padding: 5px;
}
.is-animation h1 {
  color: #fff;
}
.is-animation nav ul li a {
  color: #fff;
}

#main-visual {
  background: #f7f7f7;
  color: #333333;
  height: 100vh;
}

.intro-fadein-text {
  position: absolute;
  margin: auto;
  top: 60%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  font-size: 1.5rem;
  border-radius: 3px;
  z-index: 1;
  text-align: center;
  color: #9e9e9e;
  font-family: "Abel", cursive;
  line-height: 1.3;
  letter-spacing: 0.1rem;
}

.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50%;
  background-color: transparent;
  font-size: 3rem;
  border-radius: 3px;
  z-index: 1;
  text-align: center;
  color: #000000cf;
  font-family: "Abel", cursive;
  line-height: 0.5em;
  letter-spacing: 0.3rem;
}
.main-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}
.main-effect li {
  list-style: none;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  animation: grow 1.6s ease-in-out infinite;
}
@keyframes grow {
  0%,
  40%,
  100% {
    transform: scale(0.2);
  }
  20% {
    transform: scale(1);
  }
}

.main-effect li:nth-child(1) {
  animation-delay: -1.4s;
  background: #ffff00;
  box-shadow: 0 0 50px #ffff00;
}
.main-effect li:nth-child(2) {
  animation-delay: -1.2s;
  background: #76ff03;
  box-shadow: 0 0 50px #76ff03;
}
.main-effect li:nth-child(3) {
  animation-delay: -1s;
  background: #f06292;
  box-shadow: 0 0 50px #f06292;
}
.main-effect li:nth-child(4) {
  animation-delay: -0.8s;
  background: #4fc3f7;
  box-shadow: 0 0 50px #4fc3f7;
}
.main-effect li:nth-child(5) {
  animation-delay: -0.6s;
  background: #ba68c8;
  box-shadow: 0 0 50px #ba68c8;
}
.main-effect li:nth-child(6) {
  animation-delay: -0.4s;
  background: #f57c00;
  box-shadow: 0 0 50px #f57c00;
}
.main-effect li:nth-child(7) {
  animation-delay: -0.2s;
  background: #673ab7;
  box-shadow: 0 0 50px #673ab7;
}

.box {
  width: 300px;
  height: 300px;
  margin: calc(50vh - 150px) auto;
  border-radius: 5px;
  box-shadow: 0 2px 30px #999;
  background: #fff;
  position: relative;
  overflow: hidden;
}

/* アローアニメーション設定 */
.arrow-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 200px;
}

.arrow-inner p {
  font-size: 12px;
  text-align: end;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.arrow {
  width: 1px;
  height: 100px;
  margin: 50px auto 0;
  background-color: #eee;
  position: relative;
  overflow: hidden;
}

.arrow::before {
  content: "";
  width: 1px;
  height: 100px;
  margin: 50px auto 0;
  background-color: #000;
  position: absolute;
  top: -150px;
  left: 0;
  -webkit-animation: arrow 2.5s ease 0s infinite normal;
  animation: arrow 2.5s ease 0s infinite normal;
}

@keyframes arrow {
  0% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  60% {
    -webkit-transform: translate3d(-50%, 100px, 0);
    transform: translate3d(-50%, 100px, 0);
  }

  100% {
    -webkit-transform: translate3d(-50%, 100px, 0);
    transform: translate3d(-50%, 100px, 0);
  }
}

/*  about */
#about {
  background: #f7f7f7;
  color: #333333;
}

.section-title {
  font-size: 1.75rem;
  letter-spacing: 0.1em;
  text-align: center;
}

.section-block {
  width: 100vw;
  margin: 0 auto;
  padding: 5rem 3rem 4rem 3rem;
}

.about-contents {
  display: flex;
  margin-top: 10rem;
  filter: grayscale(70%);
  -webkit-filter: grayscale(70%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-photo {
  width: 30%;
}

.about-photo img {
  width: 60%;
  height: auto;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.about-auther-name {
  font-family: "Noto Sans", sans-serif;
  width: 20rem;
  margin-top: 3rem;
  line-height: 1.5;
}

.author-name {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
}

.author-name::after {
  position: absolute;
  content: "";
  width: 70%;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  height: 1px;
  background: linear-gradient(to right, #43c6ac 0%, #d9e653 100%);
}

.about-text {
  line-height: 2;
  width: 80%;
  margin: 5rem auto;
  margin-bottom: 0;
}

#service {
  background: #f7f7f7;
  color: #333333;
}

.service-wrap {
  box-sizing: border-box;
  position: relative;
  margin: auto;
}

.service-contents {
  line-height: 2;
  width: 80%;
  margin: 5rem auto;
  margin-bottom: 0;
}

.skills {
  margin-bottom: 3rem;
  position: relative;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
}

.skills::after {
  position: absolute;
  content: "";
  width: 45%;
  bottom: -1rem;
  left: 0;
  transform: translate(0%);
  -webkit-transform: translate(-0%);
  -moz-transform: translate(0%);
  -ms-transform: translate(0%);
  -o-transform: translate(0%);
  height: 1px;
  background: linear-gradient(to right, #43c6ac 0%, #d9e653 100%);
}

.size {
  font-size: 3em;
  margin-right: 0.5em;
  color: #6d6969;
}

.service-contents-text {
  line-height: 2;
  margin: 2rem auto;
  margin-bottom: 7rem;
}

#main {
  position: relative;
  width: 100%;
  height: 100vh;
}

#slider {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#slider canvas {
  width: 150%;
  height: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
#slider img {
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 0;
}

.slider-inner {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1060px;
  height: 100%;
  margin: 0 auto;
  z-index: 5;
}

#slider-content {
  padding: 0 10px;
}
#slider-content h2 {
  font-family: "acta-display", serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: -1px;
  color: white;
  line-height: 30px;
  margin: 20px 0 60px;
}
@media screen and (min-width: 800px) {
  #slider-content h2 {
    font-size: 110px;
    line-height: 100px;
  }
}
#slider-content span {
  display: none;
}
#slider-content .meta {
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-size: 11px;
  letter-spacing: 5px;
  color: #88888a;
  text-transform: uppercase;
  position: relative;
}
@media screen and (min-width: 800px) {
  #slider-content .meta {
    font-size: 13px;
  }
}
#slider-content .meta:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  right: -55px;
  width: 45px;
  height: 2px;
  background-color: #393d40;
}
#slider-content #slide-status {
  margin-top: 10px;
  font-family: "acta-display", serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
}
@media screen and (min-width: 800px) {
  #slider-content #slide-status {
    font-size: 34px;
  }
}

#pagination {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  z-index: 6;
}
#pagination button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 100%;
  padding: 0;
  margin: 30px 0;
  cursor: pointer;
  position: relative;
  opacity: 0.2;
  transition: opacity 0.2s ease-in-out;
  outline: none;
}
#pagination button:hover {
  opacity: 0.5;
}
#pagination button.active {
  opacity: 1;
}
#pagination button.active:before {
  width: 300%;
  height: 300%;
  opacity: 1;
}
#pagination button:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out,
    height 0.4s ease-in-out;
}

/* Page Loader */
.loading:before {
  content: "";
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}
.loading:after {
  content: "";
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0.4;
  background: white;
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}
